<!-- Footer -->
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="text-center text-xl-left ">
        <a href="https://github.com/serfati/Antidote" class="font-weight-bold ml-1 text-muted"
          target="_blank">Antidote</a>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="text-center text-xl-right ">
        <a href="https://bgu.ac.il" class="font-weight-bold ml-1 text-muted" target="_blank">@bgu
      </div>
    </div>
  </div>
</footer>