{% extends 'layouts/base.html' %}

{% block title %} About {% endblock title %}

{% block content %}

<div class="container-fluid pt-6 bg-secondary">
    <h2>About</h2>
    <p class="pl-6 pr-6">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus. At this time, we are in front of
        vaccines or treatments for COVID-19 and waiting to stop the spread. The best way to prevent and slow down transmission is be well 
        informed about the COVID-19 virus.(WHO)</p>
    <p class="pl-6 pr-6">The goal of this project is not to build just another dashboard. But, to focus on collaborative plot ideas, and a friendly UI/UX</p>

    <h3>The Team</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://github.com/Serfati">Avihai Serfati</a> - Front end developer</li>
        <li class="list-group-item"><a href="https://github.com/Serfati">Haim Rayes</a> - Back end developer</li>
    </ul>

    {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.data-item a').addClass('active');
</script>
{% endblock javascripts %}
