{% extends 'layouts/base.html' %}

{% block title %} Data {% endblock title %}

{% block content %}

<div class="container-fluid pt-6 bg-secondary">
    <h2>Data</h2>
    <p>Data sources used throughout the project.</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins</a>  Novel Coronavirus (COVID-19) Cases, provided by JHU CSSE</li>
        <li class="list-group-item"><a href="https://github.com/owid/covid-19-data/tree/master/public/data">Our World In Data</a>  Data on COVID-19 (coronavirus) cases, deaths, hospitalizations, tests • All countries • Updated daily by Our World in Data</li>
        <li class="list-group-item"><a href="https://github.com/nytimes/covid-19-data">New York Times</a>  An ongoing repository of data on coronavirus cases and deaths in the U.S.</li>
        <li class="list-group-item"><a href="https://www.kaggle.com/datatattle/covid-19-nlp-text-classification">Coronavirus tweets NLP</a>  Corona Virus Tagged Data</li>
        <li class="list-group-item"><a href="https://www.kaggle.com/gpreda/covid19-tweets">COVID19 Tweets</a>  Tweets with the hashtag #covid19</li>
        <li class="list-group-item"><a href="https://www.kaggle.com/kazanova/sentiment140">Sentiment140 dataset with 1.6 million tweets</a>  Sentiment analysis with tweets</li>
    </ul>

    {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.data-item a').addClass('active');
</script>
{% endblock javascripts %}
