{% extends 'layouts/base.html' %}

{% block title %} Global {% endblock title %}



{% block content %}  

<div class="container-fluid pt-6">
  <h2>Global</h2>
  <p>World Map level graphs about covid-19. More coming soon!</p>
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">  <!-- Global interactive Plotly Mabpox -->
      <div class="card bg-dark shadow fade-in-bottom">
        <div class="card-body bg-dark plotly worldmap">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.54.6/plotly.min.js"></script>
          <div class="chart">
            {% autoescape off %}
            {{ play }}
            {% endautoescape %}
          </div>
        </div>
        <div style="position: absolute; padding:1.25rem 1.5rem;">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Global cases</h6>
            <h2 class="text-light">Confirmed cases In each country over time</h2>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.maps-item a').addClass('active');
</script>
{% endblock javascripts %}